a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
}

img{
    width: 100%;
    height: auto;
}

form{
    margin: 10px 0;
}

.hidden {
    display: none;
}

.clickable{
    cursor: pointer;
}

.close-it{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

#nav-admin{
    background: #f1f1f1; 
}

#nav-admin>ul{
    display: flex;
    justify-content: flex-end;
    max-width: 1140px;
    margin: 0 auto;
    height: 50px;
    padding: 12px;
}

#nav-admin>ul>li{
    margin: 0 10px;
}

.main-container,
.admin-container,
.profil-container,
.room-container{
    max-width: 1140px;
    margin: 50px auto;
}

.room-container{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.room-container .room-wrapper{
    width: calc(33.333% - 40px);
    margin: 20px;
}

.visual-header{
    background-image: url('../img/product-card.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 300px;
}

.tm-search-form{
    padding: 15px 25px;
}

.form-control {
    font-size: 1rem;
    padding: 5px 10px;
}

#connexion-overlay,
#signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#connexion-overlay .form-wrapper,
#signup-overlay .form-wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    width: 320px;
    padding: 15px;
    margin: 150px auto;
}

@media screen and (max-width: 640px){
    #signup-overlay .form-wrapper {
        margin: 30px auto;
    }
    #signup-form label{
        display: none;
    }
    #signup-form input{
        margin: 5px 0;
    }
}

#rooms-slider,
#services{
    margin-bottom: 100px;
}

.ui-menu { width: 200px; }
.ui-widget-header { padding: 0.2em; 
}
.column-search{
    width: 100%;
}
.room-container{
    width: 100%;
}
.gauche {
    padding: 4vh;
    height: 900px;
    float: left;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.navbar {
    font-family: 'Quicksand', sans-serif;
}
h1, h3, h4, h5{
    font-family:  'Quicksand', sans-serif;
}  
h2{
    font-family: 'Quicksand', sans-serif;
}

.carousel-caption{
    font-size: 5.9vw;
    bottom: 30%;
    color: #ffffff;
}
#footer{
    background: #05D1AF !important;
    font-family: 'Quicksand', sans-serif;
    line-height: 5vh;
    padding: 50px;
}
#footer a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.col {
    padding-top: 6vh;
}

#select-category,
#select-city{ 
    height: 45px; 
}

.ui-widget.ui-widget-content{
    margin-top: 15px;
}

#price{
    background-color: transparent;
}